<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand fw-bold fs-4" routerLink="/">Lista de Contatos</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item me-2">
        <a
          class="btn btn-outline-light"
          routerLink="/contatos"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Contatos
        </a>
      </li>
      <li class="nav-item me-2">
        <a
          class="btn btn-success text-white"
          routerLink="/adicionar"
          routerLinkActive="router-link-active"
        >
          Adicionar Contato
        </a>
      </li>
      <li class="nav-item me-2">
        <a
          class="btn btn-outline-light"
          routerLink="/grupos"
          routerLinkActive="router-link-active"
        >
          Grupos
        </a>
      </li>
      <li class="nav-item">
        <a
          class="btn btn-outline-light"
          routerLink="/favoritos"
          routerLinkActive="router-link-active"
        >
          Favoritos
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
